.header{
    display: flex;
    align-items: center;
    background-color: rgb(211, 206, 206);
}

.logo{
    display: block;
    width: 200px;
}

img{
    max-height: 32px;
}

.nome{
    display: flex;
    align-items: center;
    color: black;
}

.nome i{
    margin-right: 15px;
}